@charset "utf-8";
@use "../foundation/mixin" as m;

.c-fontEn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.c-fontScript {
  font-family: "Allura", cursive;
  font-weight: 400;
}
.c-bold {
  font-family: "Hiragino Kaku Gothic W6 JIS2004";
}
